$primary: #202020;
$secondary: #121212;
$white: #fff;
$black: #000;
$red: #ed3024;
$blue: #3137c9;

$z-index-sidebar: 100;
$z-index-header: 100;

$sidebar-width: 300px;

$tablet-bp: 950px;
$mobile-bp: 550px;

