.pagination {
    display: flex;
    justify-content: center;
    margin: 8rem;
    &__item {
        margin: 0 5px;
        
    }
    &__link {
        display: block;
        width: 40px;
        height: 40px;
        background-color: #0d0d0d;
        font-size: 1.4rem;
        line-height: 16px;
        color: $white;
        text-align: center;
        padding: 12px 16px;
        border-radius: 3px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        transition: all .2s ease-in;
        &:hover {
          background-color: lighten(#0d0d0d, 3%);  
        }
        &.active {
            background-color: $blue;;
        }
        
    }
}