.subnav {
    display: none;
    position: absolute; 
    top: 100%;
    left: 0;
    width: 165px;
    background-color: $blue;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    @include breakpoint($tablet-bp) {
        position: static;
        width: 100%;
        background: inherit;
    }
    &__link {
        display: block;
        font-size: 12px;
        color: $white;
        text-decoration: none;
        margin:12px 12px;
        padding: 0 12px;
        transition: all .5s ease-in;
        @include breakpoint($tablet-bp) {
            padding: 15px ;
        }
        &:hover {
            background-color: darken($blue, $amount: 5%);
            border-radius: 50%;
        }
    }
}